.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  padding: 0;
  box-sizing: border-box;
}

.page h1, h2, h3 {
  font-family: "Noto Serif", "Times new Roman", serif;
}

html {
  scroll-behavior: smooth;

}